.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgb(96, 97, 85);
  color: rgb(186, 219, 241);
  margin: auto;
}
.cart-icon {
  padding: 0rem 2rem 0rem 2rem;
  font-size: 3rem;
}
.product-type {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 2rem;
}
.product-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a {
  color: inherit;
}
a:hover {
  color: black;
}
.cartItem {
  font-size: 1rem;
  color: rgb(240, 237, 237);
  position: absolute;
}

.addItem {
  padding: 1rem;
  background-color: blue;
}
.add-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .product-type {
    font-size: 1.3rem;
    gap: 0.5rem;
  }
  .cart-icon {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
  }
  .header {
    height: 4rem;
    width: 100%;
  }
  .cartItem {
    font-size: 0.5rem;
  }
  .addItem {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
@media (max-width: 450px) {
  .product-type {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
  .cart-icon {
    font-size: 1rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
  }
  .header {
    height: 4rem;
    width: 100%;
  }
  .add-button{
    font-size: 0.5=9rem;
  }
}
